body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: darkred;
	font-size: 62.5%;
}
header,
main,
footer {
	background-color: lightblue;
	font-size: 1.6em;
    padding: 1.875em 0;
}

h1{
    margin-top: 30px;
    margin-left: 150px;
    font-size: 60;
    font-family: Courier;
    color:green;
}
h2{
    margin: 0;
    padding: 0.625em 0 0.625em 0.625em;
    font-size: 40;
    font-family: Garamond;

}
img {
    padding: 0.625em 0 0.625em 0.625em;
	width: 90%;
	max-width: 90%;
    border-radius: 30px;
}
p{
    margin-left: 50px;
    margin-right: 300px;
    background-color: orange;
    font-family: fantasy;
}
figcaption{
    font-style: italic;
    color: yellow;
    text-align: center;
}
